
.swiper {
  width: 100%;
  height: 60%;
  margin-top: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 80vh;
  width: 100%;
}

.container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
