.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.info{
    width: 100%;
    height: 100%;
    padding: 50px;
}
.info h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 42px;    
    color: #011a2e;
    padding: 17px;
}
.info p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: black;
    padding-top: 20px;
}