.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.herocard{
   width: 410px;
   height:410px;
   font-family: "Poppins", sans-serif;
   margin-bottom: 30px;
}
.herocard img{
    width: 100%;
    height: 48%;
}
.herocard p{
    padding: 8px;
    font-weight: 100;
}
.herocard h3{
    padding: 7px;
    font-weight: 700;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 64px;
    padding-inline: 75px;
    gap: 50px;
}
.btn{
    padding-inline: 29px;
    background-color: white;
    padding-block: 10px;
    margin: 15px;
    background-color: #011a2e;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px;
}
