body{
    background-color: aliceblue;
    /* font-family: sans-serif; */
    
}

.dashboard{
  padding-inline: 30px;
}
.dashboardheading{
    color: rgb(5, 4, 67);
    font-size: 38px;
    text-transform: capitalize;
}

.allenquiries{
    font-size: 24px;
    text-decoration: none;
    font-weight: 200;

}
.datacard{
    width: 100%;
    height: 15vh;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.294);
    margin-block: 25px;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
}


.studentinquiry{
    font-size: 22px;
    /* text-transform: lowercase; */
    font-weight: 500;
}

.studentName,.studentCourse{
    text-transform: capitalize;
}
.delete{
    background-color: red;
    text-transform: capitalize;
}