event-container {
    font-family: 'Segoe UI', sans-serif;
    color: #222;
    line-height: 1.6;
}


/* event description section  */
.event-description-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 20px;
    background-color: #f8f8f8;

}

.college-event-image {
   width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.2);
    flex: 1;
}

.college-event-text {
    flex: 2;
    padding: 20px;
}

.college-event-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.college-event-text p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #444;
}

.college-event-text ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

