.event-container {
    font-family: 'Segoe UI', sans-serif;
    color: #222;
    line-height: 1.6;
}

/* Event Hero Section */
.event-hero-section {
    background-image: url('../assets/events1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 30px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
}

.event-hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.event-hero-section p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}