* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 70px;
  /* margin-top: 5px; */
  position: sticky;        
  top: 0;                  
  z-index: 1000;           
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0B1D51, #131D4F); 
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 2px 2px; 
  font-family: 'Segoe UI', sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
}

.navbar-brand svg {
  font-size: 2.2rem;
  margin-top: 9px;

}

.navbar-brand a {
  color: #e0f0ff;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-menu li {
  display: flex;
  align-items: center;
}

.navbar-menu li a {
  color: #e0f0ff;
  padding: 8px 14px;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease-in-out;
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block; 
}

/* .navbar-menu li a:hover {
  color: #ffffff;
  transform: scale(1.10);
} */

button {
  background-color: #4E71FF;
  border: none;
  padding: 8px 18px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

/* button:hover {
  background-color: #00bfff;
} */

.decoration{
  text-decoration: underline;
}